.container {
    background-color:khaki;
    padding: 40px 0 0 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;
}

.button {
    border: none;
    width: 80px;
    height: 40px;
    display: inline-block;
    background-color: lightgreen;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5px;
}
